<p id="notice"><%= notice %></p>

<h1>Test Ms</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @test_ms.each do |test_m| %>
      <tr>
        <td><%= test_m.title %></td>
        <td><%= test_m.comment %></td>
        <td><%= link_to 'Show', test_m %></td>
        <td><%= link_to 'Edit', edit_test_m_path(test_m) %></td>
        <td><%= link_to 'Destroy', test_m, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Test M', new_test_m_path %>
